a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

@font-face {
  font-family: 'Redaction35-Regular';
  src: url('../fonts/Redaction35-Regular.woff2') format('woff2'),
       url('../fonts/Redaction35-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction35-Bold';
  src: url('../fonts/Redaction35-Bold.woff2') format('woff2'),
       url('../fonts/Redaction35-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Billo';
  src: url('assets/fonts/BILLO.TTF') format('truetype'); /* ajusta la ruta si es necesario */
  font-weight: normal;
  font-style: normal;
}


.font-redaction-regular {
  font-family: 'Redaction35-Regular', sans-serif;
}

.font-redaction-bold {
  font-family: 'Redaction35-Bold', sans-serif;
}

.font-billo {
  font-family: 'Billo', sans-serif;
}

/* funciona pero en el caso de los textos cortos tardan mas en aparecer, pero si el translateX es menor entonces los titulos largos desaparecen antes de salir del contenedor. separe las animaciones porque sino el step no funciona ya que tomaria al movimiento y la op al mismo tiempo y no llega a aparecer el texto, si estan separados cada uno se activa a su propio tiempo*/
@keyframes mover-texto {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-700px); }
}

@keyframes desaparecer-texto {
  0%, 99% { opacity: 1; }
  100%    { opacity: 0; }
}

.animacion-texto {
  display: inline-block;
  white-space: nowrap;                   
  animation:
    mover-texto 6s linear infinite,
    desaparecer-texto 6s step-end infinite; 
}

/* dejo la forma la forma que estaba antes, funciona bien pero el texto se va desvaneciendo. para probarse hay que reemplazar en animation por esto: animation: animacion-texto 6s linear infinite;

@keyframes animacion-texto {
  0% {
    transform: translateX(0%);
  }
  99% {
    transform: translateX(-100%);

  }
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}

*/

@keyframes rotar-lados {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(5deg); }
  50%  { transform: rotate(0deg); }
  75%  { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.animate-rotar-lados {
  display: inline-block;
  animation: rotar-lados 1.5s ease-in-out infinite;
}











