a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

@font-face {
  font-family: 'Redaction35-Regular';
  src: url('../fonts/Redaction35-Regular.woff2') format('woff2'),
       url('../fonts/Redaction35-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction35-Bold';
  src: url('../fonts/Redaction35-Bold.woff2') format('woff2'),
       url('../fonts/Redaction35-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Billo';
  src: url('assets/fonts/BILLO.TTF') format('truetype'); /* ajusta la ruta si es necesario */
  font-weight: normal;
  font-style: normal;
}


.font-redaction-regular {
  font-family: 'Redaction35-Regular', sans-serif;
}

.font-redaction-bold {
  font-family: 'Redaction35-Bold', sans-serif;
}

.font-billo {
  font-family: 'Billo', sans-serif;
}

@keyframes animacion-texto {
  0% {
    transform: translateX(0%);
  }
  99% {
    transform: translateX(-158%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animacion-texto {
  display: inline-block;
  animation: animacion-texto 6s linear infinite;
  white-space: nowrap;
  
}

@keyframes rotar-lados {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(5deg); }
  50%  { transform: rotate(0deg); }
  75%  { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.animate-rotar-lados {
  display: inline-block;
  animation: rotar-lados 1.5s ease-in-out infinite;
  
}











