/* === RESET === */
a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

@font-face {
  font-family: 'Redaction35-Regular';
  src: url('../fonts/Redaction35-Regular.woff2') format('woff2'),
       url('../fonts/Redaction35-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction35-Bold';
  src: url('../fonts/Redaction35-Bold.woff2') format('woff2'),
       url('../fonts/Redaction35-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.font-redaction-regular {
  font-family: 'Redaction35-Regular', sans-serif;
}

.font-redaction-bold {
  font-family: 'Redaction35-Bold', sans-serif;
}

@keyframes animacion-texto {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-500%);
  }
}

.animacion-texto {
  display: inline-block;
  animation: animacion-texto 15s linear infinite;
  white-space: nowrap;
  
}







